{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">استرجاع كلمة المرور</h2>
  <form method="POST">
    <div class="mb-3">
      <label>البريد الإلكتروني</label>
      <input type="email" name="email" class="form-control" required>
    </div>
    <div class="mb-3">
      <label>آخر كلمة مرور تتذكرها</label>
      <input type="password" name="old_password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-warning w-100">متابعة</button>
  </form>
</div>
{% endblock %}
